PROJECT_NAME=berlin-educational-sovereignty-spatial-equity-optimizer

# DuckDB
DUCKDB_PATH=./data/warehouse/berlin_education.duckdb

# dbt
DBT_PROFILES_DIR=./dbt

# Airflow
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__EXECUTOR=SequentialExecutor

# Local service ports
AIRFLOW_WEB_PORT=8080
METABASE_PORT=3000
METABASE_URL=http://localhost:3000